@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Be Vietnam Pro", sans-serif;
    /* font-weight: 100;
  font-style: normal; */
}

.bg {
    /* background-color: black; */
    height: 5px;
    width: 100%;
}

.main {
    display: flex;
    /* background-color: yellow; */
    height: 50px;
    width: 400px;
}

.main .bg img {
    /* position: absolute; */
    height: 400px;
    width: 500px;
    margin-left: 800px;
}

.main .nav {
    /* background-color: aqua; */
    height: 100px;
    width: 200px;
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-top: 30px;
}

.nav img {
    height: 30px;
    width: 100px;
    /* margin-left: 60px; */
}

.main .nav1 {
    /* background-color: aqua; */
    height: 100px;
    width: 1700px;
    display: flex;
    color: black;
    justify-content: space-between;
    margin-left: 10px;
}

.nav1 p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: 2px;
    color: #717482;
}

.nav1 p2 {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    color: #717482;

}

.nav1 p3 {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    color: #717482;

}

.nav1 p4 {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    color: #717482;

}

.nav1 p5 {
    display: flex;
    margin-left: 30px;
    margin-top: 40px;
    color: #717482;

}

.main .nav2 button {
    height: 10px;
    width: 100px;
    border-radius: 90px;
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-right: 5%;
    margin-left: 150px;
    background-color: hsl(12, 88%, 59%);
    color: white;
    border: 0;
    display: flex;
    align-items: center;
    /* margin-left: 200px; */
    margin-top: 35px;
}




/* banner1 */
.b1 {
    height: 400px;
    width: 900px;
    /* background-color: blueviolet; */
    margin: 12%;
    margin-top: 30px;
    position: absolute;
    display: flex;
}

.b1 .div1 {
    height: 400px;
    width: 450px;
    /* background-color: yellowgreen; */
}

.b1 .div2 {
    height: 400px;
    width: 450px;
    /* background-color: yellow; */
}

.div1 h1 {
    text-align: left;
    color: #232d51;

}

.div1 p {
    color: #b2b2b9;
}

.div1 button {
    background-color: hsl(12, 88%, 59%);
    color: white;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 90px;
    border: 0;
}

.div2 img {
    height: 400px;
    width: 450px;
}


/* banner2 */

.b2 {
    height: 400px;
    width: 900px;
    /* background-color: blueviolet; */
    margin: 12%;
    margin-top: 450px;
    position: absolute;
    display: flex;
}

.b2 .div1 {
    height: 400px;
    width: 450px;
    /* background-color: yellowgreen; */
}

.b2 .div2 {
    height: 450px;
    width: 450px;
    /* background-color: yellow; */
}

.b2 .div1 h1 {
    text-align: left;
    color: #232d51;

}

.b2 .div2 .text1 button {
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 90px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
height: 30px;
width: 50px;
}

.b2 .div2 .text1 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.b2 .div2 .text1 h4{
    margin-left: 6%;
    margin-top: 10px;
position: absolute;
    color: #232d51;

}
.b2 .div2 .text1 p{
margin-top:40px;
    color: #b2b2b9;

}


.b2 .div2 .text2 button {
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 90px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
height: 30px;
width: 50px;
}

.b2 .div2 .text2 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.b2 .div2 .text2 h4{
    margin-left: 6%;
    margin-top: 10px;
position: absolute;
    color: #232d51;

}
.b2 .div2 .text2 p{
margin-top:40px;
    color: #b2b2b9;

}




.b2 .div2 .text3 button {
    background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 90px;
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
height: 30px;
width: 50px;
}

.b2 .div2 .text3 {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.b2 .div2 .text3 h4{
    margin-left: 6%;
    margin-top: 10px;
position: absolute;
    color: #232d51;

}
.b2 .div2 .text3 p{
margin-top:40px;
    color: #b2b2b9;

}




.img2 img {
    position: absolute;
    height: 400px;
    width: 500px;
    top: 700px;
left: 10px;
}




.dh1 h2{
    top: 1000px;
    left: 500px;
    position: absolute;
        color: #232d51;

}





/* last banner */


.div{
    height: 250px;
    width: 100%;
    /* background-color: tomato; */
    position: relative;
    top: 1100px;
    display: flex;
    justify-content: space-between;
}

.div .d1{
    height: 250px;
    width: 380px;
    background-color: #fafafa;
    position: relative;
        text-align: center;

}

.div .d1 img{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 150px;
    top: -20px;
}

.div .d2{
    height: 250px;
    width: 380px;
    background-color: #fafafa;
        text-align: center;

}
.div .d2 img{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 570px;
    top: -20px;
}
.div .d3{
    height: 250px;
    width: 380px;
    background-color: #fafafa;
    text-align: center;
}
.div .d3 img{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 980px;
    top: -20px;
}


.div .d1 p{
margin-top: 40px;
color: #babbbf;
}

.div .d2 p{
margin-top: 40px;
color: #babbbf;
}

.div .d3 p{
margin-top: 40px;
color: #babbbf;
}


.endb button{
    top: 1450px;
    position: absolute;
        background-color: hsl(12, 88%, 59%);
    color: white;
    border-radius: 90px;
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
left: 550px;
}